.route-input-field {
	border: var(--table-border-settings);
	outline: none;
	border-radius: 8px;
	cursor: pointer;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #108e55;

	&:focus {
		border-color: #cccccc;
	}

	&:disabled {
		cursor: text;
		border: none;
		background-color: transparent;
		-webkit-appearance: none;
		-moz-appearance: none;
	}
}
