.route-input-field {
	padding: 4px !important;
	border: var(--table-border-settings) !important;
	outline: none !important;
	border-radius: 8px !important;
	cursor: pointer !important;

	font-family: 'Montserrat' !important;
	font-style: normal !important;
	font-weight: 400 !important;
	font-size: 14px !important;
	color: #108e55 !important;

	&:focus {
		border-color: #cccccc !important;
		box-shadow: none !important;
	}
}
