.additional-approvers-wrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.additional-approvers-actions {
	display: flex;
	flex-direction: row;
	gap: 16px;
}

.additional-approvers-button {
	background: #108e55;
	border: 2px solid transparent;
	border-radius: 2px;

	padding: 8px 20px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 12px;
	cursor: pointer;

	color: #ffffff;

	&_outline {
		border-color: #108e55;
		background: transparent;
		color: #108e55;
	}

	&:active {
		opacity: 0.8;
	}
}

// Настройки отображения таблицы допсогласующих
.additional-approvers {
	&__add-button-wrapper {
		border-bottom: var(--table-border-settings);
	}

	&__user-link {
		border-bottom: 1px dashed var(--color-theme-button-and-links);
		color: var(--color-theme-button-and-links);
		cursor: pointer;

		&:hover {
			color: var(--color-theme-main-darken-10);
			border-bottom-color: var(--color-theme-main-darken-10);
		}
	}

	&__link {
		color: var(--color-theme-button-and-links);
		cursor: pointer;

		&:hover {
			color: var(--color-theme-main-darken-10);
			border-bottom: 1px solid var(--color-theme-main-darken-10);
		}
	}

	&__row {
		&:nth-child(even) {
			background: white;
		}

		& > div:nth-child(4) {
			padding: 0;
		}

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		border-bottom: var(--table-border-settings);
		border-width: 2px;

		& > div {
			box-sizing: border-box !important;
			overflow: hidden;
			word-wrap: break-word;
			width: 100%;
			padding: 20px 8px;

			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;

			color: #474747;

			border-left: var(--table-border-settings);
			&:first-child {
				border-left: none;
			}
		}
	}

	// Шапка таблицы
	&__header {
		&:nth-child(odd) {
			background: white !important;
		}

		& > div {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			color: #108e55;
		}
	}
}

.additional-approvers-body {
	&__row {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;

		&:nth-child(odd) {
			background: #f0f0f0;
		}
		&:nth-child(even) {
			background: #ffffff;
		}

		& > div:nth-child(4) {
			padding: 0;
		}
	}
}
