@import url('./reset.scss');
@import url('./App/components/RouteTable/routeTable.scss');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Панель фильтрации
.filter-panel {
	margin-bottom: 15px;
	&__list {
		list-style-type: none;
	}
}

// Сброс стандартных стилей фильтров
.filter-panel__item--rp .button-add-element {
	display: none !important;
}

.filter-panel__item--team .button-add-element {
	display: none !important;
}
