.table {
	border-top: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	width: 100%;
	&__header {
		border-bottom: 1px solid #d9d9d9;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: start;
		.table__header-col {
			flex-basis: 33%;
			padding: 10px 10px 10px 5px;
			&--name {
				flex-basis: 25%;
				border-right: 1px solid #d9d9d9;
			}
			&--rp {
				flex-basis: 25%;
				border-right: 1px solid #d9d9d9;
			}
			&--team {
				flex-basis: 50%;
			}
			span {
				font-weight: bold;
			}
		}
	}
	&__body {
		.table__body-list-row {
			list-style-type: none;
			.table__body-row {
				list-style-type: none;
				.table__body-list-col {
					list-style-type: none;
					display: flex;
					align-items: center;
					justify-content: start;
					border-bottom: 1px solid #d9d9d9;
					.table__body-col {
						flex-basis: 33%;
						align-self: stretch;
						padding: 10px 10px 10px 5px;
						&--name {
							flex-basis: 25%;
							border-right: 1px solid #d9d9d9;
						}
						&--rp {
							flex-basis: 25%;
							border-right: 1px solid #d9d9d9;
						}
						&--team {
							flex-basis: 50%;
						}
						.table__body-list-team {
							list-style-type: none;
						}
					}
				}
			}
		}
	}
}
