* {
	// Настройки границы таблицы
	--table-border-settings: 1px solid #dddddd;
	// Цвет ссылки
	--color-theme-button-and-links: #1e6599;
	// Цвет ссылки (Наведение)
	--color-theme-main-darken-10: #030a0f;
}

// Настройки отображения таблицы маршрута
.route-table {
	&__user-link {
		border-bottom: 1px dashed var(--color-theme-button-and-links);
		color: var(--color-theme-button-and-links);
		cursor: pointer;

		&:hover {
			color: var(--color-theme-main-darken-10);
			border-bottom-color: var(--color-theme-main-darken-10);
		}
	}

	&__link {
		color: var(--color-theme-button-and-links);
		cursor: pointer;

		&:hover {
			color: var(--color-theme-main-darken-10);
			border-bottom: 1px solid var(--color-theme-main-darken-10);
		}
	}

	&__row {
		&:nth-child(even) {
			background: white;
		}

		& > div:nth-child(4) {
			padding: 0;
		}

		display: grid;
		grid-template-columns: 0.5fr 1fr 1fr 2fr 1fr;
		border-bottom: var(--table-border-settings);

		& > div {
			box-sizing: border-box !important;
			overflow: hidden;
			word-wrap: break-word;
			width: 100%;
			padding: 20px 8px;

			/* Последовательно */
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;

			color: #474747;

			border-left: var(--table-border-settings);
			&:first-child {
				border-left: none;
			}
		}
	}

	// Шапка таблицы
	&__header {
		&:nth-child(odd) {
			background: white !important;
		}

		& > div {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 12px;
			color: #108e55;
		}
	}
}

.route-table-body {
	&__row {
		display: grid;
		grid-template-columns: 0.5fr 1fr 1fr 2fr 1fr;

		&:nth-child(odd) {
			background: #f0f0f0;
		}
		&:nth-child(even) {
			background: #ffffff;
		}

		& > div:nth-child(4) {
			padding: 0;
		}
	}
}

.sub-table {
	&__add-item {
		display: flex;
		align-items: center;
		justify-content: center;
		grid-template-columns: 1fr;
		padding: 20px 8px;
		cursor: pointer;
		background-color: #f0f0f0;
		color: #474747;

		&:hover {
			background-color: #d8d8d8;
		}

		& svg > path {
			stroke: #474747;
		}
	}

	&__body {
		display: grid;
		grid-template-rows: repeat(auto, 1fr);
	}
	&__row {
		display: grid;
		grid-template-columns: 1fr 1fr;

		&:nth-child(odd) {
			background: #f8f8f8;
		}
		&:nth-child(even) {
			background: #f0f0f0;
		}

		&:last-child {
			border-bottom: none;
		}
	}
}
